<h1>New Blog</h1>

<form class="" action="/blogs" method="post">

    <input type="text" name="title" placeholder="Title">
    <input type="text" name="image" placeholder="Image URL">
    <br>
    <textarea name="body"></textarea>
    <br>
    <input type="submit" name="" value="Submit">

</form>
