//COLORS
$color-primary: #ff0000;
$color-primary-light: #ff443a;
$color-primary-dark: #cc362e;
$color-background: #272838;
$color-background-light: #1f202d;
$color-white: #fff;
$color-black: #000;
$color-font-default: #bbb;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
